{% extends 'layout/layout.html' %}
{% block mainblock %}
    <h5 class="card-title">{{object.title}}</h5>
    {% include 'products/snippets/addtocart.html' with in_cart=in_cart pid=object.id %}
    <h6 class="card-text">{{object.price}}</h6>
    <p class="card-text">{{object.createdDate|timesince}} ago</p> 
    {% if object.image %}
    <img src="{{object.image.url}}" class="card-img-top" alt="{{object.title}}">
    {% endif %}
    <div class="card-body">
    <p class="card-text">{{object.description|linebreaks}}</p>
    </div>
{% endblock %}